#chat-button {
    display: flex;
    background-color: $message-box-bg-color;
    max-width: 280px;
    padding: 22px;
    border-radius: $border-radius;
    margin: 0;
    min-height: 70px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    &.opacity_0 {
        opacity: 1;
    }
    &.opacity_1 {
        opacity: 0.45;
    }
    &.opacity_2 {
        opacity: 0.15;
    }
    &.opacity_3 {
        opacity: 0.05;
    }
    &.opacity_4 {
        opacity: 0;
    }
    span {
        @include font-family(18px, $p1);
        text-transform: none;
    }
}