#chat-button {
    display: flex;
    background-color: $orb5;
    max-width: 280px;
	padding:10px 12px;
    border-radius: $border-radius;
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
	align-self: flex-end;
    justify-content: center;
    margin-bottom: 5px;
	box-shadow:$global-shadow;
	transition:all .1s ease-out;
    &.opacity_0 {
        opacity: 1;
    }
    &.opacity_1 {
        opacity: 0.45;
    }
    &.opacity_2 {
        opacity: 0.15;
    }
    &.opacity_3 {
        opacity: 0.05;
    }
    &.opacity_4 {
        opacity: 0;
    }
    span {
        @include font-family(14px, $p2);
        text-transform: none;
    }
}
#chat-button:hover{
	box-shadow:$global-shadow-hover;
	border-radius: $border-radius $border-radius 3px  $border-radius ;

}