#glcanvas, #glcontainer {
	width: 100%;
	
	max-width:1100px;
    flex-direction: row;
    align-self: left;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 0;
	outline:none;
	overflow:none;
	
}
#glcontainer{margin:5% 0 0 40px;height:85%;}