#message-box {
    display: flex;
    background-color: $message-box-bg-color;
    max-width: 280px;
    padding:0 12px;
    border-radius: $border-radius;
    margin: 0;
    height: auto;
    flex-direction: row;
    align-items: center;
	align-self: flex-start;
    justify-content: center;
    margin-bottom: 20px;
    &.shadow {
        box-shadow: $global-shadow;
    }
    &.opacity_0 {
        opacity: 1;
    }
    &.opacity_1 {
        opacity: 0.45;
    }
    &.opacity_2 {
        opacity: 0.15;
    }
    &.opacity_3 {
        opacity: 0.05;
    }
    &.opacity_4 {
        opacity: 0;
    }
    p {
        @include font-family(14px, $p2);
    }
	&.user, &.user p{
	float:right;
	align-self: flex-end;
	color:$p1;	
	border-radius:$border-radius $border-radius 0px $border-radius;
	}
	&.bot, &.bot p{
	background-color:$orb1;
	border-radius:$border-radius $border-radius $border-radius 0px;
	color:$p2;
	}
}