#message-box {
    display: flex;
    background-color: $message-box-bg-color;
    max-width: 280px;
    padding: 22px;
    border-radius: $border-radius;
    margin: 0;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    &.shadow {
        box-shadow: $global-shadow;
    }
    &.opacity_0 {
        opacity: 1;
    }
    &.opacity_1 {
        opacity: 0.45;
    }
    &.opacity_2 {
        opacity: 0.15;
    }
    &.opacity_3 {
        opacity: 0.05;
    }
    &.opacity_4 {
        opacity: 0;
    }
    p {
        @include font-family(18px, $p1);
    }
}