#background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  
  background-blend-mode: normal;
	background-size:cover;
	opacity:1;
	overflow:hidden;

	background-position:center;
	
}
#backgroundwrapper{
height:100%;position:absolute;width:100vw;

}
#boids{transform:scale(1.2);z-index:-2;outline:0;border:0;weight:110vw;height:110vh;padding:-5vh -5vw;
}
