#chat {
    width: 100%;
    height: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    top: 0;
    right: 0;
    z-index: 2;
    margin: 0 20px;

    &.chat-wrapper {
        &.move-top {
            height: 130px;

            .wrapper {
                height: 130px;
            }

            .input-row {
                display: none;
            }
        }
    }

    .wrapper {
        width: 100%;
        max-width: $chat-max-width;
        max-height: 650px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-self: flex-end;
        margin: 0 100px 0 0;

        .chat-transcript {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;

            .user-column,
            .bot-column {
                display: flex;
                flex-direction: column;
                width: 100%;
                overflow-y: auto;
                justify-content: flex-end;
                position: relative;
                transition: width 600ms ease-out, height 600ms ease-out;

                &.chat-height {
                    height: 450px;
                }

                &.move-top {
                    height: 120px;
                }
            }
        }

        .input-row {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            height: 100px;
            max-width: $chat-max-width;
        }
    }
}