#info-module-options {
    max-width: 1120px;
    width: 100%;
    height: 100%;
    padding: 20px 0;
	
    &.submodule {
        &.selected {
            max-width: 710px;
        }
    }

    .container {
        background-color: $info-modules-bg;
        width: 675px;
        height: 100%;
        border-radius: 15px;
        box-shadow: $global-shadow;
        margin-left: 20px;
overflow:hidden;
        h1 {
            @include font-family(14px, $info-modules-title, 600);
            margin: 0;
        }

        h2 {
            @include font-family(22px, $info-modules-subtitle, 600);
            margin: 50px 0;
        }

        p {
            @include font-family(14px, $info-modules-content);
            line-height: 21px;
            margin: 0;

            &:first-child {
                margin-bottom: 30px;
            }

            &.main-content-wrapper {
                margin-bottom: 50px;
            }
        }

        .module-info {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 500px;
        }

        .options-container {

            

            box-shadow: $info-modules-options-shadow;
			max-height:550px;
			overflow:auto;
            .options-container-list {
                padding: 10px 20px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        btn {padding:20px;}
		img{height:50px;}
        span,
        a {
            @include font-family(14px, $info-modules-subtitle);

            &:hover {
                text-decoration: none;
            }

            padding: 15px 10px;
            box-shadow: $global-shadow;
            max-width: 120px;
            text-align: center;
            border-radius: 30px;
        }
		a:hover{
			box-shadow: $global-shadow-hover;
		}
    }

    #info-modules-options-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        box-shadow: $global-shadow;
        padding:10px;
        border-radius: 15px;
        cursor: pointer;

        &.btn {
            &.selected {
                border: 2px solid $info-modules-options-card-border;
            }
        }

        img {
            border-radius: 14px;
			width:50px;
        }

        p {
            margin:0 0 0 10px;
            @include font-family(18px, $info-modules-subtitle, 600);
        }
    }#info-modules-options-card:hover {box-shadow: $global-shadow-hover};
}