#persona {
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  transition: all 3s ease-out;
  transform: scale(.8);

  &.persona-position-100 {
    transition: width 600ms ease-out, height 600ms ease-out;
    height: 40vh;
	margin-top:30vh;
	transform:scale(.5);

    &.move-to-top {
	transition: all 1000ms cubic-bezier(0.750, -0.195, 0.000, 1.005); 
     height: 50vh;
	margin-top:15vh;
	transform:scale(.8);
    }

    &.move-to-top-2 {
      height: 0vh;
    }
  }
}