#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    left: 0;
    bottom: 100px;

    &.header {
        &.hidden {
            display: none;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        list-style-type: none;
        width: 300px;
        padding: 0;
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 999;

        a {
            @include font-family(14px, $orb1, 600);
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
        }
		a:hover{
			color:$orb2;
		}
    }
}
