$global-bg-page-gradient-one: #7D5DEF;
$global-bg-page-gradient-two: #B38FF3;
$global-bg-page-gradient-three: #F5B4BA;

$global-shadow: 0px 6px 10px rgba(50, 27, 154, 0.25);

// typograph
$h1: #321B9A;
$p1: #321B9A;

// message box
$message-box-bg-color: #FFFFFF;

// message input
$message-input-bg-color: #FFFFFF;
$message-input-border-color: #321B9A;
$message-input-information-tip-color: #B78FF3;
$message-input-text-color: rgba(50, 27, 154, 0.6);
$message-input-done-bg-color: #B78FF3;
$message-input-done-text-color: #FFFFFF;

// info modules
$info-modules-bg: #FCFCFC;
$info-modules-options-bg: #FFFFFF;
$info-modules-options-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
$info-modules-title: #321B9A;
$info-modules-subtitle: #321B9A;
$info-modules-content: #26242E;
$info-modules-options-card-border: rgba(50, 27, 154, 0.45);
$info-modules-page-title: #2F2F2F;