@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

$font-family: 'Overpass Mono';

@mixin font-family($size: 12px, $color: $h1, $weight: 500) {
    font-family: $font-family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

