@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$font-family: 'Quicksand';

@mixin font-family($size: 12px, $color: $h1, $weight: 500) {
    font-family: $font-family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

