@import './colors.scss';
@import './fonts.scss';

// global
$chat-max-width: 400px;
$border-radius: 20px;

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;

  // components
  @import './components/persona/index.scss';
  @import './components/waves/index.scss';
  @import './components/logo/index.scss';
  @import './components/background/index.scss';
  @import './components/chat/index.scss';
  @import './components/message-box/index.scss';
  @import './components/chat-input/index.scss';
  @import './components/chat-buttons/index.scss';
  @import './components/paiper/index.scss';
}

